#appBar {
	height: 2rem;
}
div.btn {
	
	align-items: center;
	padding: 0;
	margin: 0;
	position: relative;
}


header#appBar > details > div > img {
	height: 1.2rem;
	width: 1.2rem;
	display: flex;
	padding: 0;
}

/* 開いた時のSummary要素スタイル */
details[open] summary {
	outline: none; /* 開いたときのアウトラインを非表示にする */
}
/* デフォルトのSummary要素スタイル */
summary {
	outline: none; /* アウトラインを非表示にする（クリック時のボーダーを削除） */
	width: 100%; /* Summary要素の幅を100%に設定 */
  }
nav.menu > li.menu-item {
	text-align: left;
	margin:0;
	padding: 4px 8px;
}
.cp-2 {
	padding-bottom: 2px;
    padding-top: 2px;
}
.flex-row-reverse {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.hidden {
	display: none !important;
}
